<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
.bg-black{
  color:white;
  background-color:black;
}

.container .show{
  width: 100%;
}

#main-header .bg-lightorange{
  background-color:#F2D3AC;

}
#main-header .port-item{
  width:30%;
  height:100%;
}

.bg-blue {
  background-color: #032859;
}
.bg-lightblue {
  background-color: #00738B;
}
.bg-orange {
  background-color: #F29966;
}
.bg-red {
  background-color:#F22D1B;
}

#main-header .port-item:hover{
  opacity:0.8;
  cursor:pointer;
}

@media(min-width: 1199px){
  .port-item{
    padding:3em !important;
  }
}

</style>

  <div class="container">
      <% if @user.id == current_user.id %>
      <%= link_to '近くのユーザーを探す', search_user_path(@user.id), class:"btn btn-lg btn-danger align-center" %>
      <% end %>
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <%= attachment_image_tag @user,:profile_image, fallback: "no_image.jpg", size:'370x247' %>


          <%#= image_tag('person1.jpg', style:"width: 100%; height: 100%;") %>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-lightorange text-dark">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-4"><%= @user.name %></h1>
                <%= render 'follow_form', user: @user %>

          <% if @user.id == current_user.id %>
          <% else %>
          <% if @isRoom == true %>
          <a href="/rooms/<%= @roomId %>">チャットへ</a>
          <% else %>
          <%= form_for @room do |f| %>
           <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
             <%= f.submit "チャットを始める" %>
            <% end %>
            <% end %>
            <% end %>
                <div class="d-none d-md-block">
                  <a href="http://twitter.com" class="text-white">
                  <i class="fab fa-twitter"></i>
                  </a>
                </div>
                <div class="d-none d-md-block">
                  <a href="http://facenbook.com" class="text-white">
                  <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div class="d-none d-md-block">
                  <a href="http://instagram.com" class="text-white">
                  <i class="fab fa-instagram"></i>
                  </a>
                </div>
                <div class="d-none d-md-block">
                  <a href="http://github.com" class="text-white">
                  <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="p-4 bg-black">
              Which language I prefer to learn
            </div>

            <div>
            <div class="d-flex flex-row text-white align-items-stretch text-center">
              <div class="port-item p-4 bg-blue" data-toggle="collapse" data-target="#home">
                <i class="fas fa-home fa-2x d-block"></i>
                <span class="d-none d-sm-block">Home</span>
              </div>
              <div class="port-item p-4 bg-lightblue" data-toggle="collapse" data-target="#following">
                <i class="fas fa-user-check fa-2x d-block"></i>
                <span class="d-none d-sm-block"><span><%= @user.following.count %></span> Follow</span>


              </div>
              <div class="port-item p-4 bg-orange" data-toggle="collapse" data-target="#follower">
                <i class="fas fa-thumbs-up fa-2x d-block"></i>
                <span class="d-none d-sm-block"><span><%= @user.following.count %></span> Followers</span>
              </div>
              <div class="port-item p-4 bg-red" data-toggle="collapse" data-target="#match">
                <i class="fas fa-heart fa-2x d-block"></i>
                <span class="d-none d-sm-block"><span><%=  @user.match.count %></span> Matched</span>
              </div>

            </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Home -->
    <div id="home" class="collapse show">
      <div class="card card-body bg-blue text-white py-5">
        <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user.id) do %>

          <i class="fas fa-cog fa-2x text-white d-block text-right"></i>

          <% end %>
          <% end %>

        <h2>Welcome to My Page</h2>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, maiores!</p>

      </div>

      <div class="card card-body py-5">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde deserunt vitae quo doloribus fuga optio?</p>

        <hr>


      </div>
      </div>

    <!-- following -->
    <div id="following" class="collapse">
    <div class="card card-body bg-lightblue text-white py-5">
      <h2>Following List</h2>
    </div>

    <div class="card card-body py-5">
    <table class="table">
    <thead>
      <tr>
          <th></th>
          <th>username</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <% @followings.each do |user| %>

          <td><%= attachment_image_tag user, :profile_image, size: "60x60", format: 'jpeg',fallback: "no_image.jpg" %></td>
          <td style="font-size:20px; align-text:center"><%= user.name %></td>
          <td><%= link_to '詳細', user_path(user), class: "btn btn-lg btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  </div>
  </div>

  <!-- Followers -->
  <div id="follower" class="collapse">
      <div class="card card-body bg-orange text-white py-5">
        <h2>Followers List</h2>
      </div>
      <div class="card card-body py-5">
      <table class="table">
          <thead>
          <tr>
              <th></th>
              <th>username</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          <tr>

          <% @followers.each do |user| %>
          <td><%= attachment_image_tag user, :profile_image, size: "60x60", format: 'jpeg',fallback: "no_image.jpg" %></td>
          <td style="font-size:20px; align-text:center"><%= user.name %></td>
          <td><%= link_to '詳細', user_path(user), class: "btn btn-lg btn-danger" %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
    </div>
    </div>


  <div id="match" class="collapse">
      <div class="card card-body bg-red text-white py-5">
        <h2>Match List</h2>
      </div>
      <div class="card card-body py-5">
      <table class="table">
          <thead>
          <tr>
              <th></th>
              <th>username</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <% @matches.each do |user| %>
              <td><%= attachment_image_tag user, :profile_image, size: "60x60", format: 'jpeg',fallback: "no_image.jpg" %></td>
          <td style="font-size:20px; align-text:center"><%= user.name %></td>
          <td><%= link_to '詳細', user_path(user), class: "btn btn-lg btn-danger" %></td>
        </tr>

              <% end %>
          </tr>

          </tbody>
    </table>
    </div>
    </div>
    </div>
