<!DOCTYPE html>
<html>
  <head>
    <title>CodeSwitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.min.js" defer></script>
    <style>

    body{
      overflow-x:hidden;
      font-family: 'Lato','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
      }
    .navbar{
      border-bottom: #008ed6 3px solid;
      /* z-index:1; */
      opacity:0.8;

    }
    .navbar-brand img{
      height:50px;
      width:auto;
    }



    .login-name{
      color:white;
      text-align:center;
    }

    .nav-link{
      color: white;
      margin-right: 10px;
    }

    body{
      background: #333;
    }


    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
      <div class="container">
        <a href="/users" class="navbar-brand">Code Switch</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li class="login-name">こんにちは<%= current_user.name %></li>
              <li class="nav-item">マイページへ</li>
              <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, class:"nav-link"} %>
              </li>
             <% else %>
             <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class:"nav-link" %>
              </li>
             <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class:"nav-link" %>
              </li>
              <% end %>



            </ul>
        </div>
      </div>

    </nav>




    <%= yield %>

    <footer id="main-footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center py-4">
            <h3>Code Switch</h3>
            <p>Copyright &copy; <span id="year"></span></p>

          <button class="btn btn-danger" data-toggle="modal" data-target="#contactModal">Contact Us</button>
          </div>
          </div>
      </div>
    </footer>

    .modal.fade.text-dark

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

    <script>
      $('#year').text(new Date().getFullYear());
    </script>
  </body>
</html>
